services:
  postgres:
    image: postgres:16
    container_name: almoxarifado_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
    container_name: almoxarifado_api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      APP_PORT: "8080"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}

volumes:
  postgres_data:
